.header-img{
	width: 100%;
	overflow:hidden;
    height: calc(50vw);
    max-height: 500px;
}
.header-img img{
    width: 100%;
    margin-top: -10vw;
    filter: brightness(55%) contrast(50%);
}
.header-title{
	position: absolute;
	top: 6vw;
	right: 20px;
	max-width: 50%;
	color: white;
	text-align: end;
}
.header-title h1{
	font-size: 1.5rem;
}
.header-title h4{
	font-size: 1rem;
}
.menu-items{
	display: flex;
	background-color: #d3d3d3;
}
.menu-item{
	width: 50%;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 5px;
}
.menu-item:hover, .menu-item:focus{
	text-decoration: none;
	color: #8b0000;
}
.title-link{
	position: relative;
}
.logo{
    position: absolute;
    left: -16px;
    top: -35px;
    border: 10px solid #d3d3d3;
    border-radius: 100%;
    overflow: hidden;
}
.synopsis{
	margin: 20px;
    padding: 40px 25px 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
}
.synopsis a{
    color: #888;
    padding: 14px;
}
.download{
    background: #cd5c5c;
    color: white !important;
    padding: 7px !important;
    text-decoration: none;
}
.download:hover{
	text-decoration: none;
}
.quick-cards{
	margin: 20px;
    display: flex;
    text-align: center;
}
.card{
    height: auto;
    min-height: 320px;
    border: solid #d3d3d3 1px;
    padding: 5px 10px 10px;
    border-radius: 2.25rem;
    margin-bottom: 20px;
}
.card p{
	margin-bottom: 0;
}
.card > div {
    margin-bottom: 10px;
}
.card-stats{
	width: calc(100% - 24px);
}
.card-stats p{
	margin-bottom: 0;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.card-stats p:first-child{
	float: left;
}
.card-stats p:nth-child(2){
	float: right;
}
.card-extra{
	cursor: pointer;
}
.extra{
	display: none;
	max-height: 0px;
    overflow-y: hidden;
    height: auto;
    transition: max-height .5s;
}
.extra-open{
	max-height: 100px;
}
.card-extra i{
	line-height: 35px;
    padding-left: 10px;
}
.percentage-background {
    position: relative;
    margin-top: 20px;
}
.percentage-value {
    width: 50%;
    height: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    opacity: .85;
    background-color: #cd5c5c;
}
.btn-primary{
	background-color: #959fa8;
	border-color: #959fa8;
}
.btn-primary:hover{
	background-color: #a50202;
	border-color: #a50202;
}


/*Resume*/
.filters h1, .experiences h1{
	width: 100%;
	border-bottom: solid #8b0000 1px;
	color: #8b0000;
}
.filters, .experiences{
    padding: 10px;
}
.filters{
	margin-top: 40px;
}
.filter-modal-container{
	flex-wrap: wrap;
	width: 100%;
    display: inline-flex;
}
.filter-modal-container h5{
	width: 100%;
}
.filter-option{
	margin: 0px 10px 5px;
    height: 2.2rem;
    background-color: #555;
    padding: .3rem 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
.filter-selected {
    background-color: #8b0000;
}
header{
	text-align: center;
}
.card-container{
	width: 100%;
    flex: 100%;
    transition: max-width .5s;
}
.card-container label{
	display: none;
}
.open-card{
	max-width: 100%;
}
.open-card div:first-child{
	min-height: 600px;
}
.exp, .proj, .cls{
	height: 300px;
    overflow: hidden;
    position: relative;
	margin: 10px 0;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    min-height: 300px;
	transition: min-height .5s;
}
.exp .resume-card, .proj .resume-card, .cls .resume-card{
    padding: 11px 18px 20px;
}
.expand, .collapse{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 101%;
    height: 50px;
    background-color: #CCC;
    opacity: .8;
    font-size: 32px;
}
.collapse{
	display: none;
}
.expand:hover, .collapse:hover{
	opacity: 1;
	cursor: pointer;
}
.exp header{
	background-color: rgba(255, 0, 0, .2)
}
.proj header{
	background-color: rgba(0, 255, 0, .2)
}
.cls header{
	background-color: rgba(0, 0, 255, .2)
}
.job-location{
	width: 100%;
    display: flex;
}
.row{
	margin: 0;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}


/*About Me*/
.section{
	margin: 20px;
}
.lashback-synopsis{
    padding: 40px 25px 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    background: linear-gradient(135deg, rgba(255,255,255,1), rgba(255, 0, 0, .5));
}
.mck-synopsis{
    padding: 40px 25px 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    background: linear-gradient(135deg, rgba(255,255,255,1), rgb(162, 130, 195));
}
.music-synopsis{
    padding: 40px 25px 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    background: linear-gradient(135deg, rgba(255,255,255,1), rgb(195, 130, 130));
}
.pass{
	margin: 10px 0;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    min-height: 300px;
	background: linear-gradient(135deg, rgba(255,255,255,1), #d9534f);
}
/*Spherical Images*/
.img-panel{
	width: 100%;
	object-fit: cover;
	transition: border-radius .5s;
}
.info a{
	padding-right: 15px;
	display:inline-block;
	width: 100%;
}
.info a:hover > .img-panel{
	border-radius: 100%;
}
.info a:hover{
	background-color: transparent;
}
.info a img:hover{
	background-color: rgba(255, 255, 255, 0.5);
}
/*Booklist*/
#booklist {
    overflow-x: auto;
    white-space: nowrap;
}

/*Modal Css*/
.modal{
    width: 80vw;
    margin: auto;
    height: 80vh;
    padding: 0 !important;
    overflow: hidden !important;
}
.modal-body{
	padding: 0;
	height: calc(80vh - 131px);
}
.modal-body img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.slide-controller{
	width: 100%;
	color: #000;
	text-align: center;
	margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    padding: 0.01em 16px;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5)
}
.pic-left, .pic-right, .pic-badge{
	cursor: pointer;
}
.pic-left{
	float: left;
}
.pic-right{
	float: right;
}
.pic-badge{
	height: 13px;
    width: 13px;
    padding: 0;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    display: inline-block;
}
.pic-badge-fill{
	background-color: #000;
}