body{
	margin-top: 45px;
	padding: 0 !important;
	font-family: serif;
	background-color: #171717;
	font-size: 24px;
	color: white;
	overflow-x: hidden;
}
p{
	font-size: 16px;
	line-height: 1.75em;
}

/*Home Page*/
/*menu*/
.navigation button{
	display: none;
}
.menu-items{
	display: inline-flex;
}
.menu-items a{
	width: calc(100vw / 7);
}
.navigation{
	z-index: 100;
	padding: 0;
	display: inline-flex;
	margin: 0;
	text-align: center;
	position: fixed;
	top: 0;
	background-color: #171717;
	width: auto;
}
a, a:hover, a:focus{
	text-decoration: none;
	color: white;
}
a:hover{
	background-color: rgb(128, 0, 0);
}
.current{
	text-decoration: none;
	color: white;
	background-color: rgb(128, 0, 0);
}

/*Responsive Menu*/
.mini-body{
	margin-top: 0;
}
.mini-nav{
	transition: left .5s, right .5s;
	position: fixed;
	width: 280px;
	top: 0;
	bottom: 0;
	min-width: inherit;
	left: -280px;
}
.mini-nav a{
	top: 0;
	bottom: 0;
	left: 0;
	width: 280px;
	display: block;
	height: calc(100vh/7);
	text-align: center;
}
.mini-nav a:before {
  content: '';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
.mini-nav button{
	left: 280px;
	display: initial;
	position: absolute;
    padding: 9px 10px 9px 0;
    margin-top: 68px;
    box-shadow: 0 0 30px 0 rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    -webkit-appearance: button;
    cursor: pointer;
}
.mini-nav span{
	background-color: rgb(128, 0, 0);
	display: block;
    width: 22px;
    height: 4px;
}
.mini-nav span+span{
	margin-top: 4px;
}
.active{
	left: 0;
	top: 0;
	bottom: 0;
}
.mini-nav .menu-items{
	display: block;
}

/*Special Header*/
h3{
	background-color: white;
	padding:28px;
	font-size: 24px;
	color:rgb(128, 0, 0);
	text-align: center;
	font-family: sans-serif;
}
.header{
	margin: 0;
	min-height: 100px;
	background-color: rgb(128, 0, 0);
}
h1 {
	background-color:rgb(128, 0, 0);
	padding: 25px;
	font-size: 30px;
	color: white;
	font-family: sans-serif;
}
.header h1{
	padding-top: 35px;
}

/*portfolio*/
.portfolio img{
	width: 100%;
	height: auto;
	max-height: 100vh;
	max-width: 100vw;
}
.portfolio p{
	text-align: center;
}

/*Story*/
.what{
	background-color: rgb(128, 0, 0);
	background-image: url("../pictures/backgrounds/What.svg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 48px;
	display: flex;
}
.title-left{
	text-align: center;
	width: 50%;
}
.content-padding{
	padding: 48px;
}
.content-right{
	background-color: #171717;
	position: relative;
	width: 50%;
}
.bold-content{
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: 1.6em;
}
.what ul{
	font-size: 16px;
	font-family: sans-serif;
}
.column-2{
	display: inline-block;
}
.column-2 p{
	margin-bottom: 1em;
}
/*classes*/
.classes{
	background-color: rgb(128, 0, 0);
	background-image: url("../pictures/backgrounds/classes.svg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 48px;
    display: flex;
}
.content-left{
	width: 70vw;
}
.title-right button{
	display: block;
}
.title-right button:before {
  content: '';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
@media(max-width: 787px){
  .title-left{
    width: 100%;
    background-color: rgb(128, 0, 0);
    background-image: url("../pictures/backgrounds/What.svg");
	background-repeat: no-repeat;
	background-position: 48px;
	height: 50vh;
  }
  .content-right{
  	width:100%;
  }
  .what{
  	display: block;
  }

}

/*Links to other pages*/
.csi a:hover, .future a:hover{
	background-color: #171717;
}
.csi a, .future a{
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 24px;
	color:rgb(128, 0, 0);
	text-align: center;
	font-family: sans-serif;
	display: block;
}

/*Spherical Images*/
.img-panel{
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 100%;
}
.info a{
	padding: 15px;
	display:inline-block;
}

/*Resume Stuff*/
h2{
	background-color: rgba(255, 255, 255, 0.5);
    padding: 28px;
    font-size: 24px;
    color: #800000;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0;
}
.education{
}
.left, ul{
	margin-left: 15px;
	float: left;
	text-align: left;
}
.right{
	margin-right: 15px;
	text-align: right;
}
@media(max-width: 680px){
	.left{
		width: 100%;
	}
	.right{
		width: 100%;
		padding-right: 15px;
	}
}
.row{
    margin-left: 0;
    margin-right: 0;
}

.container .row{
    margin-left: -15px;
    margin-right: -15px;
}


/*Games Stuff*/
/*Gallery*/
#galleryList{
  overflow-x: scroll;
  white-space: nowrap;
}

.email a:hover{
	background-color: transparent;
}

audio{
  width: 100%;
  zposition: fixed;
  bottom: 0;
}