body{
	margin-top: 45px;
	padding: 0 !important;
	font-family: serif;
	background-color: #171717;
	font-size: 24px;
	color: white;
	overflow-x: hidden;
}
p{
	line-height: 1.75em;
}

/*Home Page*/
/*menu*/
.navigation button{
	display: none;
}
.menu-items{
	display: inline-flex;
}
.menu-items a{
	width: calc(100vw / 6);
}
.navigation{
	z-index: 100;
	padding: 0;
	display: inline-flex;
	margin: 0;
	text-align: center;
	position: fixed;
	top: 0;
	background-color: #171717;
	width: auto;
}
a, a:hover, a:focus{
	text-decoration: none;
	color: white;
}
a:hover{
	background-color: rgb(128, 0, 0);
}
.title-link:hover{
	background-color: transparent;
}
.current{
	text-decoration: none;
	color: white;
	background-color: rgb(128, 0, 0);
}

/*Responsive Menu*/
.mini-body{
	margin-top: 0;
}
.mini-nav{
	transition: left .5s, right .5s;
	position: fixed;
	width: 280px;
	top: 0;
	bottom: 0;
	min-width: inherit;
	left: -280px;
}
.mini-nav a{
	top: 0;
	bottom: 0;
	left: 0;
	width: 280px;
	display: block;
	height: calc(100vh/6);
	text-align: center;
}
.mini-nav a:before {
  content: '';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
.mini-nav button{
	left: 280px;
	display: initial;
	position: absolute;
    padding: 9px 10px 9px 0;
    margin-top: 68px;
    box-shadow: 0 0 30px 0 rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    -webkit-appearance: button;
    cursor: pointer;
}
.mini-nav span{
	background-color: rgb(128, 0, 0);
	display: block;
    width: 22px;
    height: 4px;
}
.mini-nav span+span{
	margin-top: 4px;
}
.active{
	left: 0;
	top: 0;
	bottom: 0;
}
.mini-nav .menu-items{
	display: block;
}

/*Special Header*/
h3{
	background-color: white;
	padding:28px;
	font-size: 24px;
	color:rgb(128, 0, 0);
	text-align: center;
	font-family: sans-serif;
}
.header{
	margin: 0;
	min-height: 100px;
	background-color: rgb(128, 0, 0);
}
h1 {
	background-color:rgb(128, 0, 0);
	padding: 25px;
	font-size: 30px;
	color: white;
	font-family: sans-serif;
}
.header h1{
	padding-top: 35px;
}

/*portfolio*/
.portfolio img{
	width: 100%;
	height: auto;
	max-height: 100vh;
	max-width: 100vw;
}
.portfolio p{
	text-align: center;
}

/*Only for Home page*/
/*Story*/
.what{
	background-color: rgb(128, 0, 0);
	background-image: url("../pictures/backgrounds/What.svg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 48px;
	display: flex;
}
.title-left{
	text-align: center;
	width: 50%;
}
.content-padding{
	padding: 48px;
}
.content-right{
	background-color: #171717;
	position: relative;
	width: 50%;
}
.bold-content{
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: 1.6em;
}
.what ul{
	font-size: 16px;
	font-family: sans-serif;
}
.column-2{
	display: inline-block;
}
.column-2 p{
	margin-bottom: 1em;
}
@media(max-width: 787px){
  .title-left{
    width: 100%;
    background-color: rgb(128, 0, 0);
    background-image: url("../pictures/backgrounds/What.svg");
	background-repeat: no-repeat;
	background-position: 48px;
	height: 50vh;
  }
  .content-right{
  	width:100%;
  }
  .what{
  	display: block;
  }
}

/*Page links*/
.square-div{
	width: 100%;
}
.square-div:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
.resume{
	background-image: url("../pictures/backgrounds/resume.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.classes{
	background-image: url("../pictures/backgrounds/classes.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.projects{
	background-image: url("../pictures/backgrounds/projects.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.music{
	background-image: url("../pictures/backgrounds/music.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.img-caption{
	position: absolute;
	top: 40%;
	width: 100%;
}
.img-caption p{
	text-align: center;
	margin-bottom: 2px;
}
.img-caption a{
	border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 5px;
    font-family: sans-serif;
}
.caption-layer{
	background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 100%;
}
.square-div > .caption-layer {
	visibility: hidden;
}
.square-div:hover > .caption-layer {
	visibility: visible;
	transition: opacity .1s ease-out;
}
.caption-layer:hover{
	transition: all .3s ease-out;
}
@media(max-width: 576px){
	.square-div > .caption-layer {
		visibility: visible;
	}
}
.caption-blocks{
	padding-top: 15px;
	padding-bottom: 15px;
}

/*Spherical Images*/
.img-panel{
	width: 250px;
	height: 250px;
	object-fit: cover;
	transition: border-radius 1s;
}
.info a{
	padding-right: 15px;
	display:inline-block;
}
.info a:hover > .img-panel{
	border-radius: 100%;
}
.info a:hover{
	background-color: transparent;
}
.info a img:hover{
	background-color: rgba(255, 255, 255, 0.5);
}


/*Resume Page Stuff*/
h2{
	background-color: rgba(255, 255, 255, 0.5);
    padding: 28px;
    font-size: 24px;
    color: #800000;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0;
}
.left, ul{
	margin-left: 15px;
	float: left;
	text-align: left;
}
.right{
	margin-right: 15px;
	text-align: right;
}
@media(max-width: 680px){
	.left{
		width: 100%;
	}
	.right{
		width: 100%;
		padding-right: 15px;
	}
}
.row{
    margin-left: 0;
    margin-right: 0;
}

.container .row{
    margin-left: -15px;
    margin-right: -15px;
}

/*Classes*/
.database{
	background-image: url("../pictures/backgrounds/database.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.AI{
	background-image: url("../pictures/backgrounds/AI.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.software{
	background-image: url("../pictures/backgrounds/software.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}

/*Future*/
.senior{
	background-image: url("../pictures/backgrounds/senior.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.virtial{
	background-image: url("../pictures/backgrounds/virtial.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.intern{
	background-image: url("../pictures/backgrounds/intern.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.track{
	background-image: url("../pictures/backgrounds/track.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}


/*Music*/
.music-portfolio{
	background-image: url("../pictures/backgrounds/music_portfolio.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
/*Games Stuff*/
/*Gallery*/
#galleryList{
  overflow-x: scroll;
  white-space: nowrap;
}

.email a:hover{
	background-color: transparent;
}